.contact {
  min-height: 0;
  padding-bottom: 200px;
  background-color: rgba(10, 16, 30, 0.911);
  min-height: 100vh;
}

.test-card1 {
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--color-primary);
}
.test-card2 {
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: #70c500;
}
.contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: aliceblue;
}
.contact ul li {
  margin: 10px 0;
}

.contact .icon-container {
  width: 51px;
  height: 50px;
  border-radius: 25px;
  border: #202a36 solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: left center;
  margin-bottom: 15px;
  transition: 0.5s ease-in-out;

  /* transiotion border color */
}
.contact a:hover {
  border-color: var(--color-primary);
  color: var(--color-primary);
  transition: 0.5s ease-in-out;
}
.contact a:hover .icon-container {
  border-color: var(--color-primary);
  color: var(--color-primary);
  transition: 0.5s ease-in-out;
}
.contact a {
  transition: 0.5s ease-in-out;
}

.contact svg {
  width: 45%;
  height: 45%;
}

.icons {
  gap: 20px;
  flex-wrap: nowrap;
}

.contact a {
  text-decoration: none;
  color: inherit;
}

.contact button{
  padding: 10px 20px !important;
}